@font-face{
	font-family: Bebas Neue Regular;
	src: url("../fonts/BebasNeue.otf") format("opentype");
}

.tabs{
	background-color: #006699;
	padding-left: 100px;
}

#navbar{
	padding-top: 45px;
}

#row1{
		margin-top: 10px;
		margin-right: 20px;
		text-align: right;
		color: white;
}

#c1{
	margin-top: 50px;
}

#row2{
	margin-top:15px;
}

.white, .dropdown-toggle{
	color: white;
	-webkit-transition: background 0.4s linear;
	-moz-transition: background 0.4s linear;
	-ms-transition: background 0.4s linear;
	-o-transition: background 0.4s linear;
	transition: background 0.4s linear;

}

.inputlogin{
	background: #F0F0F0; 
	font-size: 20px; 
	padding: 10px; 
	border: 0; 
	width: 86%;
}

.white:hover, .dropdown-toggle:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.nav-tabs > li > a:hover {
    color: #585858 ;
	font-weight: normal;
}

.nav{
	border-bottom: 0; 

}

.ui-datepicker {
	margin-left: 60px;
	border: 0px;
	width: 400px;
	background-color:#026995;
	
}

.ui-datepicker-header{
	background-color: #f0f0f0;
	font-family: Bebas Neue Regular;
	font-size: 30px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ui-datepicker tbody{
	text-align: center;
	
}
.ui-datepicker tbody td {
	text-align:center;
	border:none;
	padding: 5px;
	padding-bottom: 6px;
	color:white;
}


.ui-datepicker tbody td:last-child {
	color:white;
}

.ui-datepicker tbody tr {
	color:white;
}
.ui-datepicker tbody tr:last-child {
	color:white;
}

.ui-datepicker table{
	margin-left: 8px;
	
}

.ui-datepicker th {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Bebas Neue Regular;
	font-weight: normal;
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: white;
}

.ui-datepicker-calendar .ui-state-default {
	background-color: transparent;
	color: white;
	font-family: 'trebuchet ms';
	border:none;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #f0f0f0;
}

.ui-datepicker-calendar .ui-state-hover {
	background-color: #007cb1;
}

.ui-datepicker-calendar .ui-state-active {
	background-color: #007cb1;
	color: #e0e0e0;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    line-height: 600%;
    overflow: hidden;
	margin-top: 5px;
}

.ui-datepicker-prev {
    float: left;
    background-image: url('../images/leftarrow.png');
    background-position: center;
}
.ui-datepicker-next {
    float: right;
	background-image: url('../images/rightarrow.png');
    background-position: center;
}

select{
	background-color: #f0f0f0;
	border: 0;
	font-size: 16px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.submitbtn{
	background-color:#026995;
	color: white;
	border: 0;
	
}

.employeeinput{
	background-color: #f0f0f0;
	border: 0;
	font-size: 16px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

td{
	text-align: center;
}

th{
	text-align: center;
}

.employeebtn{
	background-color:#026995;
	color: white;
	border: 0;
	font-family: Bebas Neue Regular;
	font-size: 20px;
}



